[core]
  excludesfile = ~/.gitignore
[include]
  path = ~/.gitconfig.local
[color]
  status = auto
  diff = auto
  branch = auto
  interfactive = auto
  grep = auto
[alias]
  ci = commit
  st = status
  sh = show
  ft = fetch
  co = checkout
  br = branch
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
